<div class="w-full bg-[#FFF1F1] rounded-t-md">
    <div class="chart-container w-full p-3">
        <canvas #topSellProductChart height="185"></canvas>
    </div>
    <div class="py-1.5 px-[1px] bg-[#BB0000] rounded-md">
        <div class="bg-white rounded-sm">
            <p class="text-sm capitalize font-medium text-[#5A5959] px-3 py-2">Top Selling Product</p>
            <table class="w-full bg-white border-t border-[#EEEEEE] overflow-hidden rounded-b-sm">
                <thead class="border-b border-[#EEEEEE] text-[#9CA0A9] font-normal text-xs">
                    <tr>
                        <th class="p-2 capitalize text-left font-normal">Item / ID</th>
                        <th class="p-2 capitalize text-center font-normal">Qty</th>
                        <th class="p-2 capitalize text-left font-normal">Total Sell</th>
                    </tr>
               </thead>
                <tbody class="text-xs">
                    <tr class="border-b border-[#EEEEEE] last:border-0 text-[#252F4A]">
                        <td class="p-2 capitalize">
                            <div class="flex items-start">
                                <img class="size-6 me-2" src="/assets/images/product/ring.png" alt="">
                            <div>
                                <p>Ring</p>
                            <p class="text-[#5A5959] font-normal text-[10px]">Rng1212</p>
                            </div>
                            </div>
                        </td>
                        <td class="p-2 font-normal text-center">1000</td>
                        <td class="p-2 font-bold">50,000</td>
                    </tr>
                    <tr class="border-b border-[#EEEEEE] last:border-0 text-[#252F4A]">
                        <td class="p-2 capitalize">
                            <div class="flex items-start">
                                <img class="size-6 me-2" src="/assets/images/product/mangalsutra.png" alt="">
                            <div>
                                <p>mangalsutra</p>
                            <p class="text-[#5A5959] font-normal text-[10px]">Mgls1212</p>
                            </div>
                            </div>
                        </td>
                        <td class="p-2 font-normal text-center">1000</td>
                        <td class="p-2 font-bold">50,000</td>
                    </tr>
                    <tr class="border-b border-[#EEEEEE] last:border-0 text-[#252F4A]">
                        <td class="p-2 capitalize">
                            <div class="flex items-start">
                                <img class="size-6 me-2" src="/assets/images/product/necklace.png" alt="">
                            <div>
                                <p>Necklace</p>
                            <p class="text-[#5A5959] font-normal text-[10px]">Nklc1212</p>
                            </div>
                            </div>
                        </td>
                        <td class="p-2 font-normal text-center">1000</td>
                        <td class="p-2 font-bold">50,000</td>
                    </tr>
                    <tr class="border-b border-[#EEEEEE] last:border-0 text-[#252F4A]">
                        <td class="p-2 capitalize" colspan="3" align="right">
                            <a href="#" class="capitalize text-xs text-[#9CA0A9] hover:text-[#BB0000]">View all</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>