<div class="w-full md:grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-9 gap-3 mt-4 space-y-2">
    <div class="col-span-1 xl:col-span-4">
        <app-top-details></app-top-details>
    </div>
    <div class="col-span-1 xl:col-span-3">
        <app-sales-target class="mb-3"></app-sales-target>
        <app-stock-overview></app-stock-overview>
    </div>
    <div class="col-span-1 xl:col-span-2">
        <app-employee-details></app-employee-details>
    </div>

    <div class="col-span-1 xl:col-span-3">
        <app-product-sales-report></app-product-sales-report>
    </div>
    <div class="col-span-1 xl:col-span-4">
        <app-pending-payment></app-pending-payment>
    </div>
    <div class="col-span-1 xl:col-span-2">
        <app-star-employee></app-star-employee>
    </div>
</div>