<div class="sm:flex items-center justify-between my-4">
  <span class="font-semibold text-sm sm:text-base lg:text-xl text-444">Assets</span>
</div>

<div class="overflow-x-auto whitespace-nowrap hide-scrollbar">
  <table class="w-full table border border-[#D9D9D9] border-separate border-spacing-0 bg-white overflow-hidden">
    <thead class="bg-[#F2F2F2] text-444 text-xs sm:text-sm lg:text-base">
      <tr class="bg-gray-100">
        <th class="p-3 font-medium border-r border-444 last:border-r-0 border-b-0">Sr. No.</th>
        <th class="p-3 font-medium border-r border-444 last:border-r-0 border-b-0">Asset Name</th>
        <th class="p-3 font-medium border-r border-444 last:border-r-0 border-b-0">Date</th>
        <th class="p-3 font-medium border-r border-444 last:border-r-0 border-b-0">Asset Qty</th>
        <th class="p-3 font-medium border-r border-444 last:border-r-0 border-b-0">Discription</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-xs sm:text-sm lg:text-[15px] text-444">
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">1</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">Asset 1</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">25-04-2025</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">10</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0"></td>
      </tr>
      <tr class="text-xs sm:text-sm lg:text-[15px] text-444">
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">2</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">Asset 2</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">25-04-2025</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">20</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0"></td>
      </tr>
      <tr class="text-xs sm:text-sm lg:text-[15px] text-444">
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">3</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">Asset 3</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">25-04-2025</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0">20</td>
        <td class="py-1 px-2 text-center border border-[#d9d9dd] border-l-0 border-b-0"></td>
      </tr>
    </tbody>
  </table>

</div>
