<div class="w-full pt-8 pb-20 px-4 bg-linear-(--my-gradient8) relative overflow-hidden">
    <p class="text-[#584102] font-medium text-base sm:text-lg xl:text-3xl capitalize text-center">“Oops! Missing Gem Alert"</p>
    <div class="mt-10 sm:mt-6 md:mt-10 xl:mt-20">
        <div class="text-c19725 text-6xl sm:text-8xl lg:text-9xl xl:text-[300px] flex items-center justify-center mb-6">4
            <div class="relative">
                <div class="z-2 relative">
                    <img class="w-20 h-18 md:w-30 md:h-28 xl:w-68 xl:h-64" src="/assets/images/error/ring-box.png" alt="ring-box">
                </div>
                <img class="size-7 md:size-12 xl:size-24 z-3 absolute bottom-[20px] left-[26px] md:bottom-[30px] md:left-[36px] xl:bottom-[67px] xl:left-[84px]" src="/assets/images/error/diamond2.png"
                alt="diamond">
                <div class="size-24 md:size-34 xl:size-80 z-0 absolute -top-[20px] -left-[2px] xl:-top-[67px] xl:-left-[24px] bg-linear-(--my-gradient9) rounded-full flex justify-center items-center">
                    <div class="size-20 md:size-28 xl:size-60 bg-linear-(--my-gradient10) rounded-full"></div>
                </div>
            </div>
            4
        </div>

        <p class="text-444 text-sm/normal sm:text-base/normal xl:text-3xl/normal font-normal text-center">This page is not here right now </p>
        <p class="text-444 text-sm/normal sm:text-base/normal xl:text-3xl/normal font-bold text-center">But don’t worry — all your jewellery records are safe!
        </p>

        <button type="button"
            class="block capitalize w-[220px] lg:w-[250px] mx-auto mt-6 p-1 md:p-1.5 text-base xl:text-lg font-bold text-c19725 bg-white border-1 border-c19725 hover:bg-fdffc6 hover:text-c19725 focus:ring-0 focus:outline-none rounded-md text-center dark:text-c19725 dark:bg-white dark:hover:bg-fdffc6">Want
            to Explore More</button>

        <div class="flex flex-wrap items-center justify-center gap-2 lg:gap-10 mt-6">
            <button type="button"
                class="block w-32 lg:w-36 cursor-pointer bg-[#FFF3D4] text-xs sm:text-sm lg:text-base text-[#898989] font-bold border border-c19725 px-1.5 py-1 lg:py-2 rounded-sm hover:shadow-lg"
                tabindex="0" ng-reflect-router-link="/create-user/add-customer">Dashboard</button>
            <button type="button"
                class="block w-32 lg:w-36 cursor-pointer bg-[#FFF3D4] text-xs sm:text-sm lg:text-base text-[#898989] font-bold border border-c19725 px-1.5 py-1 lg:py-2 rounded-sm hover:shadow-lg"
                tabindex="0" ng-reflect-router-link="/create-user/add-customer">Help & Support</button>
            <button type="button"
                class="block w-32 lg:w-36 cursor-pointer bg-[#FFF3D4] text-xs sm:text-sm lg:text-base text-[#898989] font-bold border border-c19725 px-1.5 py-1 lg:py-2 rounded-sm hover:shadow-lg"
                tabindex="0" ng-reflect-router-link="/create-user/add-customer">Loan Panel</button>
            <button type="button"
                class="block w-32 lg:w-36 cursor-pointer bg-[#FFF3D4] text-xs sm:text-sm lg:text-base text-[#898989] font-bold border border-c19725 px-1.5 py-1 lg:py-2 rounded-sm hover:shadow-lg"
                tabindex="0" ng-reflect-router-link="/create-user/add-customer">Scheme Panel</button>
            <button type="button"
                class="block w-32 lg:w-36 cursor-pointer bg-[#FFF3D4] text-xs sm:text-sm lg:text-base text-[#898989] font-bold border border-c19725 px-1.5 py-1 lg:py-2 rounded-sm hover:shadow-lg"
                tabindex="0" ng-reflect-router-link="/create-user/add-customer">Stock</button>
        </div>
    </div>

    <img class="hidden lg:block size-14 absolute top-[4%] -left-[1.7%]" src="/assets/images/error/star.png" alt="star">
    <img class="hidden lg:block size-13 absolute top-[10%] right-[15%]" src="/assets/images/error/coin.png" alt="coin">
    <img class="hidden lg:block size-13 absolute top-[25%] left-[20%]" src="/assets/images/error/diamond.png" alt="diamond">
    <img class="hidden lg:block size-14 absolute top-[50%] -right-[1.5%]" src="/assets/images/error/star.png" alt="star">
    <img class="hidden lg:block size-13 absolute top-[50%] -left-[1.7%]" src="/assets/images/error/coin.png" alt="coin">
    <img class="hidden lg:block size-10 absolute right-[30%] top-[4%]" src="/assets/images/error/star.png" alt="star">
    <img class="hidden lg:block size-10 absolute right-[17%] bottom-[3%]" src="/assets/images/error/diamond1.png" alt="diamond">
    <img class="hidden lg:block size-14 absolute right-[40%] -bottom-[0%]" src="/assets/images/error/star.png" alt="star">    
    <img class="hidden lg:block size-13 absolute left-[18%] -bottom-[3.5%]" src="/assets/images/error/coin.png" alt="coin">

</div>