<!-- Loader -->
<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50 backdrop-blur-sm">
  <i class="fas fa-spinner fa-spin text-6xl" style="color:#c19725;"></i>
</div>

<div class="w-full py-3 px-4">
  <div class="sm:flex items-center justify-between mb-4">
    <span class="font-semibold text-sm sm:text-base lg:text-xl text-444">Order List</span> <!-- Changed title -->
    <div class="relative w-[200px] mt-2 sm:mt-0">
      <select [(ngModel)]="selectedStatus"
        class="w-full capitalize cursor-pointer border border-c19725 text-c19725 font-semibold text-sm sm:text-base rounded-sm py-1 sm:py-2 pl-1.5 sm:pl-2 pr-5 h-[32px] sm:h-[40px] bg-[#FFF7E6] appearance-none !bg-none focus:outline-none focus:ring-0 focus:border-[#C19725]">
        <option value="all" class="text-blue-600 text-medium">All Order List</option> <!-- Changed value and text -->
        <option value="delivered" class="text-[#0f7b0f] text-medium">Delivered Order List</option>
        <option value="pending" class="text-yellow-600 text-medium">Pending Order List</option>
        <option value="rejected" class="text-[#E12222] text-medium">Rejected Order List</option>
      </select>
      <div class="absolute inset-y-0 right-1.5 flex items-center pointer-events-none">
        <svg class="size-4 sm:size-5" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.7942 6.70594L9.00011 13.5L2.20605 6.70595L3.412 5.5L9.00011 11.0881L14.5882 5.5L15.7942 6.70594Z"
            fill="#C19725" />
        </svg>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="selectedStatus">
    <!-- New AllOrdersComponent for 'all' status -->
    <app-all-orders *ngSwitchCase="'all'" [orders]="allOrders" (orderUpdated)="onOrderUpdated($event)"></app-all-orders>
    <app-rejected-orders *ngSwitchCase="'rejected'" [orders]="rejectedOrders" (orderUpdated)="onOrderUpdated($event)"></app-rejected-orders>
    <app-pending-orders *ngSwitchCase="'pending'" [orders]="pendingOrders" (orderUpdated)="onOrderUpdated($event)"></app-pending-orders>
    <app-delivered-orders *ngSwitchCase="'delivered'" [orders]="deliveredOrders" (orderUpdated)="onOrderUpdated($event)"></app-delivered-orders>
  </ng-container>
</div>
