<div class="w-full bg-white rounded-sm border-4 border-c19725 mb-4 sm:flex items-center">
    <div class="w-full sm:w-1/2 p-3">
        <img class="w-44 h-32 object-contain mx-auto" src="/assets/images/brand/brand-logo.png" alt="brand">
    </div> 
    <div class="w-full sm:w-1/2 bg-c19725 p-3">
        <ul class="space-y-1.5 list-disc marker:text-white ps-3 ">
            <li>
                <p class="capitalize text-white text-sm 2xl:text-base/tight font-normal">website</p>
                <p class="text-white text-sm 2xl:text-base/tight font-normal"><span class="me-1">www.skygold.com</span>|<span class="ms-1">info&#64;omunim.com</span></p>
            </li>
            <li>
                <p class="capitalize text-white text-sm 2xl:text-base/tight font-normal">GST NO</p>
                <p class="text-white text-sm 2xl:text-base/tight font-normal">452486324589632489632</p>
            </li>
            <li>
                <p class="capitalize text-white text-sm 2xl:text-base/tight font-normal">Contact Us</p>
                <p class="text-white text-sm 2xl:text-base/tight font-normal"><span>+91 9157 2480 71</span><span>+91 8578 4585 85</span></p>
            </li>
        </ul>
    </div>
</div>