<div class="w-full bg-[#FFFAED] p-5 border border-[#f2f2f2] shadow-(--my-shadow2) rounded-[5px]">
    <div class="w-full relative bg-linear-(--my-gradient11) p-4 text-center rounded-[10px]">
        <img class="w-8 h-auto absolute -top-4 right-[45%] rounded-full mx-auto" src="/assets/images/rmportal/awards.png" alt="Employee">

        <p class="text-sm/tight lg:text-base/tight font-normal text-[#5A4408] mb-1 mt-8">Star Employee of the</p>
        <p class="text-base/tight lg:text-xl/tight font-semibold text-[#5A4408]">Month of April</p>
        <img class="size-36 rounded-full mx-auto my-6 md:my-8" src="/assets/images/rmportal/star-employee.png" alt="Employee">
        <p class="capitalize text-base/tight lg:text-lg/tight font-normal text-[#5A4408] mb-1">Yash Patel</p>
        <p class="capitalize text-base/tight lg:text-lg/tight font-semibold text-[#5A4408] mb-8">Sales Executive</p>
    </div>
</div>