<div class="bg-[#FFFDF8] px-2.5 py-4 space-y-1.5 md:space-y-3.5">
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Employee ID</p>
        <p>:</p>
        <p>Yash14523</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Contact No.</p>
        <p>:</p>
        <p>+91 852 789 4561</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Email ID</p>
        <p>:</p>
        <p>yash&#64;omunim.com</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Birth Date</p>
        <p>:</p>
        <p>20 - 04 - 1997</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Blood Group</p>
        <p>:</p>
        <p>O +ve</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Emergency No.</p>
        <p>:</p>
        <p>+91 856 789 4102</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p class="w-[100px]">Joining Date</p>
        <p>:</p>
        <p>24 - 04 - 2024</p>
    </div>
    <div class="flex items-center justify-start text-444 text-xs sm:text-sm gap-x-2">
        <p>Reporting Manager</p>
        <p>:</p>
        <p>Rutuja</p>
    </div>
</div>