<div class="ms-auto flex justify-end items-center">
  <svg class="cursor-pointer" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.4 6L8 10.6L6.6 12L0.6 6L6.6 0L8 1.4L3.4 6Z" fill="#C19725" />
  </svg> <span class="capitalize text-base text-444 font-semibold px-3">April 2025</span>
  <svg class="cursor-pointer" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.6 6L0 1.4L1.4 0L7.4 6L1.4 12L0 10.6L4.6 6Z" fill="#C19725" />
  </svg>
</div>
<div class="mx-auto w-[80%] sm:w-full">
  <canvas #doughnutCanvas></canvas>
</div>

