<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50 backdrop-blur-sm">
  <i class="fas fa-spinner fa-spin text-6xl" style="color:#c19725;"></i>
</div>
<div class="w-full py-3 px-4">
  <div class="sm:flex items-center justify-between mb-4">
    <div class="flex items-center justify-start gap-1 lg:gap-2 mb-3 lg:mb-0">
      <svg
        class="size-6"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="mask0_848_1764"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="24" height="24" fill="#C19725" />
        </mask>
        <g mask="url(#mask0_848_1764)">
          <path
            d="M16 22L6 12L16 2L17.775 3.775L9.55 12L17.775 20.225L16 22Z"
            fill="#C19725"
          />
        </g>
      </svg>
      <img
        class="size-6 sm:size-8 lg:size-10"
        src="https://img.icons8.com/?size=64&id=687TVrPIRrPy&format=png"
        alt="User"
      />
      <span class="font-semibold text-sm sm:text-base lg:text-xl text-444"
        >Assembly Brand</span
      >
    </div>
  </div>

  <div
    class="w-full p-4 mb-4 bg-white rounded-md shadow border border-gray-200"
  >
    <!-- Flex wrapper for two sections -->
    <div class="flex flex-col lg:flex-row gap-6">
      <!-- Utility Section: Add New Category -->
      <div class="flex-1 bg-white rounded-md">
        <h3 class="text-lg font-medium text-center text-[#c19725] mb-4">
          Add New Brand
        </h3>
        <div
          class="max-w-xl mx-auto flex flex-col sm:flex-row items-center justify-center gap-4"
        >
          <input
            type="text"
            [(ngModel)]="newBrandName"
            name="newBrandName"
            autocomplete="off"
            placeholder="Enter Brand Name"
            class="flex-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-[#c19725] focus:border-[#c19725] text-sm"
          />
          <button
            type="button"
            (click)="saveBrandName()" title="For Add Brand Click Here"
            class="px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-md shadow hover:bg-c19725 transition"
          >
            Add Brand
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full py-3 px-4" *ngIf="brandList.length > 0">
  <p class="font-semibold text-sm sm:text-base lg:text-xl text-444 mb-4">Brands List</p>

  <div class="overflow-x-auto whitespace-nowrap hide-scrollbar mt-4">
    <table class="w-full table bg-white border border-[#D9D9D9] overflow-hidden">
      <thead class="bg-[#F1F8FF] border border-[#0C447D] text-444 text-xs sm:text-xs">
        <tr>
          <th class="p-2 font-medium text-center border-r border-[#0C447D]">No.</th>
          <th class="p-2 font-medium text-center border-r border-[#0C447D]">Brand name</th>
          <th class="p-2 font-medium text-center border-r border-[#0C447D]">Action
        </tr>
      </thead>
      <tbody class="text-xs sm:text-xs" *ngIf="brandList.length > 0">
        <tr
          class="odd:bg-white even:bg-[#F2F2F2] text-[#5A5959]" *ngFor="let brand of brandList; let i = index"
        >
          <td class="p-3 text-center">{{ i + 1 }}</td>
          <td class="p-3 text-center">{{ brand.assembly_brand_name }}</td>
          <td class="p-3 text-center">
            <button aria-label="Delete Firm" class="icon-btn text-[#BB0000] hover:scale-110 hover:text-[#990000]"
                (click)="deleteBrang(brand.id)" title="Delete Brand {{ brand.assembly_brand_name }}">
                <svg class="w-5 h- md:w-6 md:h-6" fill="none" viewBox="0 0 24 25">
                  <path d="M10 12.5V17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M14 12.5V17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M4 7.5H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M6 10.5V18.5C6 20.1569 7.34315 21.5 9 21.5H15C16.6569 21.5 18 20.1569 18 18.5V10.5"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M9 5.5C9 4.39543 9.89543 3.5 11 3.5H13C14.1046 3.5 15 4.39543 15 5.5V7.5H9V5.5Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
</div>
